{% extends '_base.html' %}


{% block page_title %}
    Add new post
{% endblock page_title %}



{% block content %}

{% for calender in ecocalender %}


<table style="width:100%">
    <tr>
      <th>Date</th>
      <th>name</th>
      <th>currency</th>
    </tr>
    <tr>
      <td>{{ calender.Date }}</td>
      <td>{{ calender.name }}</td>
      <td>{{ calender.currency }}</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
    </tr>
  </table> 


{% endfor %}


{% endblock content %}