{% extends '_base.html' %}

{% block page_title %}
    Post List
{% endblock page_title %}

{% block content %}


{% if user.is_authenticated %}
<a href="{% url 'post_create' %}" class="btn btn-sm btn-success">Create Post</a>

{% else %}

{% endif %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-9">
                {% for post in post_list %}
                    <div class="card shadow-sm my-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted small py-2">By: {{ post.user }}</h6>
                            <p class="card-text py-3">
                                {{ post.text }}
                            </p>

                            {% if post.upload %}             

                            <img src="{{ post.upload.url }}" alt="Smiley face" width="450" height="300">

                            {% else %}
                            {% endif %}


                            
                         

                            
                            <a href="{% url 'post_detail' post.id %}" class="btn btn-sm btn-success">Read More</a>
                        </div>
                    </div>
                {% endfor %}
            </div>

{% endblock content %}